div.home {
    margin-top: 100px;
}

body {
    color: greenyellow
}
.home a {
    text-decoration: none;
    color: coral
}

div.home h1 {
    text-align: center;
}

div.max {
    
position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -100px;

}

div.max a{
    margin-right: 10px;
}

div.max img {
    border-radius: 10px;
    margin-right: 25px
}

div.angel {
    position: fixed;
    top: 75%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
}

div.angel img {
    border-radius: 10px;
    margin-right: 25px
}

a:hover {
    color: purple
}
a.git {
    font-weight: bolder;
    font-size: larger;
}

a.linked {
    font-weight: bolder;
    font-size: larger;
}


