body,html {
    background-color: darkgray;
}
main {
    width: 95%;
    margin: auto;
}


li {
list-style: none;
}

div.Game {
    margin-top: 150px;
}
th.Games-header {
    color: purple
}

div.form-group1 {
margin-top: 100px;
}
