body,html {
    background-color: darkgray;
}
main {
    width: 95%;
    margin: auto;
}


li {
list-style: none;
}

div.Game {
    margin-top: 150px;
}
th.Games-header {
    color: purple
}

div.form-group1 {
margin-top: 100px;
}

nav.navbar {
    justify-content: center;
}

td.rated {
    text-align: center;
}

td.date {
    text-align: center;
}

td.platform {
    text-align: center;
}
td.title {
    text-align: center;
}

td.score {
    text-align: center;
}

td.genre {
    text-align: center;
}

button {
    background-color: coral;
    border-radius: 15px;
    color:blueviolet;
    font-size: large;
    font-weight: 500;
}

input {
    background-color: coral;
    border-radius: 15px;
    color:blueviolet;
    font-size: large;
    font-weight: 500;
}

button:hover {
background-color: plum;
}

input:hover {
background-color: plum;
}

div.edit {
    margin-top: 100px;
}